<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
씨발

<form action="" method="get">
    <input type="text" name="q" value="{{ q }}"/>
    <input type="submit" value="검색" />


</form>

<ul>
    {% for project in project_list%}
        <li>
            {{ project.id }}
            <a href="/project/{{ project.id }}">
                {{ project.title }}
            </a>
        <small>{{ project.author }}</small>
        <small>{{ project.updated_at }}</small>
        </li>
    {% endfor %}
</ul>
</body>
</html>