{% extends "home/layout.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>HighLighter Project <sup>by 20124083</sup></h1>
            <p>여러분의 자기관리 페이스메이커가 되어드리겠습니다.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="http://facebook.com/groups/askdjango">
                    목표Project 바로 등록 &raquo;
                </a>
            </p>
        </div>

        <div class="row">
            <div class="col-sm-12">
            <div class ="alert alert-info">
                <ul>
                    <li>
                        http://localhost:8000/blog 주소로 접속.
                    </li>
                    <li>
                        빨리졸업하고싶다.졸업하고 편의점알바하면서 살아야지.
                    </li>
                </ul>
            </div>
                <p>
                <form action="" method="get">
                    <input type="text" name="q" value="{{ q }}" />
                    <input type="submit" value="검색" class = "btn btn-primary"/>
                </form>
                </p>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>author</th>
                        <th>updated_at</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for project in project_list%}
                        <tr>
                            <td>{{ project.id }}</td>

                            <td>
                                <a href="{% url "home:project_detail" project.id %}">
                                    {{ project.title }}
                                </a>
                            </td>

                            {#                <a href="/home/{{ project.id }}">#}
                            {#                    {{ project.title }}#}
                            {#                </a></li>#}
                            <td><small>{{ project.author }}</small></td>
                            <td><small>{{ project.updated_at}}</small></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}