{% extends "home/layout.html" %}

{% block content %}

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" />
    </form>

    <ul>
        {% for project in project_list%}
            <li>
                {{ project.id }}

                <a href="{% url "home:project_detail" project.id %}">
                    {{ project.title }}
                </a></li>

{#                <a href="/home/{{ project.id }}">#}
{#                    {{ project.title }}#}
{#                </a></li>#}
            <small>{{ project.author }}</small>
            <small>{{ project.updated_at }}</small>
            </li>
        {% endfor %}
    </ul>

{% endblock %}