{%  extends "homee/layout.html" %}
{%  load imagekit %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h1>{{ study.title }}</h1>

                <div class="container">
                    <div class="col-md-4"><h5>참여자: {% for t in study.user_set.all%}{{ t }} {% endfor %}</h5></div>
                    <div class="col-md-4 col-md-offset-4"> <h5>스터디장: {{ study.user}}</h5></div>
                    <div class="col-md-4">{{ study.created_at }}</div>
                    <div class="col-md-4 col-md-offset-4"><a href="{% url "study:study_participate" study.id %}" class="btn btn-primary btn-lg">Part-In!</a></div>
                </div>
                <hr>
                {{ study.content|linebreaks }}
                <hr/>
                <h4>참여자</h4>


                <div class="row sizess">
                    {% for i in study.user_set.all%}
                        <div class="col-xs-5 col-lg-5 alert alert-dismissible alert-danger study_style">
                            {% for j in project%}
                                {%if i.user_id == j.user_id %}
                                    <h5> <a href="{% url "home:project_detail" j.id %}">{{j.title}}</a></h5>
                                {% endif %}
                            {% endfor %}
                            <h4>{{i}}</h4>
                        </div>
                    {% endfor %}
                </div>
                <a href="{% url "study:study_makeproject" study.id %}" class="btn btn-primary btn-sm">makePROJCET</a>

                <hr/>
                <h2>공동목표todo-list</h2>
                <ul>
                    {% for todo in study.grouptodo_set.all %}
                        <li>
                            <h6>{{ todo.todo }}</h6>
                            <small> {{ todo.completed}}</small>
                            <small>at {{ todo.create_at}}</small>
                            <small>at {{ todo.updated_at }}</small>
                        </li>
                    {% endfor %}
                </ul>
                <hr/>
                <h2>스터디모임 게시판</h2>
                <ul>
                    {% for post in study.post_set.all%}
                        <li>
                            {{ post.id }}
                            <a href="/study/{{ post.id }}">
                                {{ post.title }}
                            </a>
                        </li>
                        <small>{{ post.user}}</small>
                        <small>{{ post.updated_at }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{%  endblock %}


