{% extends "homee/layout.html" %}
{% load imagekit %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Study목록</h3>
            <table class="table table-hover table-bordered">
                <tbody>
                {% for study in study_list%}
                    <tr>
                        <div class="col-sm-6 col-md-2 sizess">
                            <div class="thumbnail">
                                <a href="/study/{{ study.id }}">
                                    {% if project.photo %}
                                        {% thumbnail "200x100" study.photo -- style="" onclick="" class=""%}
                                    {%  endif %}
                                </a>
                                <h6>
                                    <div class="mul_tum_data">
                                        <a href="/study/{{ study.id }}">
                                            {{ study.title }}
                                        </a>
                                    </div>
                                </h6>
                                <h6><a>{{ study.user }}</a></h6>
                                <h6>{{ study.created_at }}</h6>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}