{% extends "homee/layout.html" %}
{% load bootstrap3 %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <table>
                    <form action="" method="post">
                        {%  csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <input type="submit"/>
                    </form>
                </table>
            </div>
        </div>
    </div>




    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-md-12">#}
    {#                <h1>Project Form</h1>#}
    {##}
    {##}
    {##}
    {#                <form action="" method="post">#}
    {#                    {% csrf_token %}#}
    {##}
    {#                    <table class="table table-hover table-bordered">#}
    {#                        {{  form.as_table }} {% comment %}에러났을때보여줌{% endcomment %}#}
    {#                    </table>#}
    {#                    <input type="submit" value="제출" class="btn btn-primary">#}
    {#                </form>#}
    {##}
    {##}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


    {#    <hr>#}
    {#    <form action="" method="post" enctype="multipart/form-data">#}
    {#        {% csrf_token %}#}
    {#        <div class="form-group">#}
    {#            <h4>User</h4>#}
    {#            <input name="{{ user.username }}" class="form-control" value="{{ user.username }}" id="id_user">#}
    {#        </div>#}
    {#        <div class="">#}
    {#            <h4>제목</h4>#}
    {#            <input type="text" class="form-control" maxlength="50" placeholder="title" name={{ form.title.html_name }}>#}
    {#        </div>#}
    {#        <span class="help-block"></span>#}
    {#        <div class="">#}
    {#            <h4>내용</h4>#}
    {#            <textarea name={{ form.body.html_name }} class="form-control" title="" id="id_body" required placeholder="내용" rows="10" cols="40"></textarea>#}
    {#        </div>#}
    {#        <span class="help-block"></span>#}
    {#        <div class="">#}
    {#            <h4>Photo</h4>#}
    {#            <div class="row bootstrap3-multi-input"><div class="col-xs-12"><input type="file" name="photo" class=""id="id_photo" /></div>#}
    {#            </div>#}
    {#            <span class="help-block"></span>#}
    {#            <div class="">#}
    {#                <h4>Status</h4>#}
    {#                <select name={{ form.status.html_name }} required class="form-control" id="id_status">#}
    {#                    {% for status in form.status%}#}
    {#                        <option>{{ status }}</option>#}
    {#                    {% endfor %}#}
    {#                </select>#}
    {#            </div>#}
    {#            <span class="help-block"></span>#}
    {#            <div class="">#}
    {#                <h4>Like</h4>#}
    {#                <input type="number" name="like" class="form-control" value="0" id="id_like" />#}
    {#            </div>#}
    {#            <span class="help-block"></span>#}
    {#            <div class="">#}
    {#                <h4>Tag set</h4>#}
    {#                <select multiple class="form-control">#}
    {#                    {% for tag_set in form.tag_set%}#}
    {#                        <option>{{ tag_set }}</option>#}
    {#                    {% endfor %}#}
    {#                </select>#}
    {##}
    {#            </div>#}
    {#            <hr>#}
    {#            <button class="btn btn-lg btn-primary btn-block" type="submit">제출</button>#}
    {#    </form>#}


{% endblock %}